{% extends "layout2.html" %}
{% from "_macros.html" import datos %}

{% block container %}
<h1>Holaaaaaaaa</h1>
<div class="container">
    <div class="row">
        <form name="sent" action="/index" id="contactoForm" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{ datos('nombre', 'Nombre') }}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{ datos('apepaterno', 'Apellido Paterno') }}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{ datos('email', 'Email', 'email') }}
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" id="send-signup" name="signup" value="Registrar">
        </form>
    </div>
</div>
{% endblock %}
